<a href="https://colab.research.google.com/github/klimapires/Bootcamp_IGTI_Python/blob/main/FinalChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Desafio Final do curso de Desenvolvimento de Python - IGTI

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
fonte="https://github.com/klimapires/Bootcamp_IGTI_Python/blob/main/pima-indians-diabetes.csv?raw=true"

In [ ]:
df = pd.read_csv(fonte, header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [ ]:
#Verificando se o dataset não possui valores nulos
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

# **Observações sobre o dataset**

O dataset utilizado possui as seguintes colunas: 
0. Número de vezes em que ficou grávida. 
1. Concentração de glicose. 
2. Pressão diastólica (mm Hg). 
3. Espessura da dobra cutânea do tríceps (mm). 
4. Insulina (mu U/ml). 
5. Índice de massa corporal (peso em kg/(altura em m)^2). 
6. Histórico familiar de diabetes. 
7. Idade (anos). 
8. Classificação (0 ou 1 - 0 não diabético / 1 diabético ).

In [ ]:
df.rename({0: 'Pregnancies', 1: 'Glucose', 2: 'DiastolicPressure', 3: 'SkinFold', 
           4: 'Insulin', 5: 'BMI', 6: 'FamiliarDiabetes', 7: 'Age', 8: 'Classification'}, axis=1, inplace=True)
df.head()

   Pregnancies  Glucose  ...  Age  Classification
0            6      148  ...   50               1
1            1       85  ...   31               0
2            8      183  ...   32               1
3            1       89  ...   21               0
4            0      137  ...   33               1

[5 rows x 9 columns]

### **Verificando o tamanho do dataset**

In [ ]:
#Tamanho do dataset (instâncias[linhas] x características[colunas])
dimensions=df.shape
print("Tamanho do dataset:", dimensions)

Tamanho do dataset: (768, 9)

In [ ]:
#Tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pregnancies        768 non-null    int64
 1   Glucose            768 non-null    int64
 2   DiastolicPressure  768 non-null    int64
 3   SkinFold           768 non-null    int64
 4   Insulin            768 non-null    int64
 5   BMI                768 non-null    float64
 6   FamiliarDiabetes   768 non-null    float64
 7   Age                768 non-null    int64
 8   Classification     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
#Idade média
media_pacientes = df.query('Classification == 1')['Age'].mean()
print(media_pacientes)

37.06716417910448

In [ ]:
#Máximo de gravidez sem diabetes

max_gestacoes = df.query('Classification == 0')['Pregnancies'].max()
print(max_gestacoes)

13

In [ ]:
#Questão 5 ????
df['Pregnancies'].describe()

count    768.000000
mean       3.845052
std        3.369578
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       17.000000
Name: Pregnancies, dtype: float64

In [ ]:
#Mediana da glicose
df['Glucose'].describe()

count    768.000000
mean     120.894531
std       31.972618
min        0.000000
25%       99.000000
50%      117.000000
75%      140.250000
max      199.000000
Name: Glucose, dtype: float64

### **Dividindo o dataframe para análise de Machine Learning.**

In [ ]:
df.columns

In [ ]:
#Dividindo dados para entrada e saídas do treino
#Método 1 (gerando listas através de fatiamento usando o método iloc)
inputs = df.iloc[:, :-1].values
targets = df.iloc[:, 8].values
print('Entradas', inputs)
print('Saídas', targets)

#Método 2 (split do dataframe, gerando um novo dataframe e uma série)
inputs_2 = df.drop(columns=['Classification'])
targets_2 = df['Classification']
print('Entradas', inputs_2)
print('Saídas', targets_2)

In [36]:
#importando bibliotecas e funções
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [20]:
#Normalizando dados de entrada
normaliza = MinMaxScaler()
inputs_normalizados = normaliza.fit_transform(inputs)

In [ ]:
print(inputs_normalizados)

In [22]:
#Separando os dados de treino

X_train, X_test, y_train, y_test = train_test_split(inputs_normalizados,
                                                    targets, test_size=0.30, random_state=42)
len(X_train)

537

In [38]:
#treinando o Modelo usando algoritmo KNN
clf_KNN = KNeighborsClassifier(n_neighbors=5)
clf_KNN.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [39]:
#Realizando a prediçao
y_pred = clf_KNN.predict(X_test)

In [40]:
#Verificando stats do modelo.
print(classification_report(y_test, y_pred))
acuracia = accuracy_score(y_test, y_pred)
print('Acurácia do algoritmo KNN: %1.2f' %(acuracia))

              precision    recall  f1-score   support

           0       0.74      0.78      0.76       151
           1       0.54      0.49      0.51        80

    accuracy                           0.68       231
   macro avg       0.64      0.63      0.64       231
weighted avg       0.67      0.68      0.68       231

Acurácia do algoritmo KNN: 0.68

In [41]:
#treinando o Modelo usando algoritmo Decision Tree
clf_tree = DecisionTreeClassifier(random_state=1)
clf_tree.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [42]:
#Aplicando Prediçao
y_pred = clf_tree.predict(X_test)

In [43]:
print(classification_report(y_test, y_pred))

acuracia = accuracy_score(y_test, y_pred)
print('Acurácia da àrvore de Decisão: %1.2f' %(acuracia))

              precision    recall  f1-score   support

           0       0.81      0.70      0.75       151
           1       0.55      0.69      0.61        80

    accuracy                           0.70       231
   macro avg       0.68      0.69      0.68       231
weighted avg       0.72      0.70      0.70       231

Acurácia da àrvore de Decisão: 0.70

In [44]:
#treinando o Modelo usando algoritmo Decision Tree
clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 10), random_state=1)
clf_mlp.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 10), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [45]:
#Aplicando predição
y_pred = clf_mlp.predict(X_test)

In [46]:
print(classification_report(y_test, y_pred))

acuracia = accuracy_score(y_test, y_pred)
print('Acurácia da àrvore de Decisão: %1.2f' %(acuracia))

              precision    recall  f1-score   support

           0       0.79      0.82      0.81       151
           1       0.64      0.60      0.62        80

    accuracy                           0.74       231
   macro avg       0.72      0.71      0.71       231
weighted avg       0.74      0.74      0.74       231

Acurácia da àrvore de Decisão: 0.74