In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# == CÓDIGO 1 ==#
Z = np.zeros((4, ))
print("Z:", Z)

Z: [0. 0. 0. 0.]

In [ ]:
# == CÓDIGO 2 ==#
Z = np.zeros((4, ))
Z[1] = 1.
print("Z:", Z)

Z: [0. 1. 0. 0.]

In [ ]:
# == CÓDIGO 3 ==#
Z = np.zeros((4, ))
Z[1:] = 1.
print("Z:", Z)

Z: [0. 1. 1. 1.]

In [ ]:
# == CÓDIGO 4 ==#
#Z = np.zeros((4, ))
#Z[:-1] = 1.
Z = np.ones((4,)) 
Z[4] = 0.
print("Z:", Z)

IndexError: ignored

In [ ]:
# == CÓDIGO 5 ==#
X = np.twos((2,2))
print("X:\n", X)

AttributeError: ignored

In [ ]:
# == CÓDIGO 6 ==#
X = np.array([[1,2], [3,4]])
Y = X[0, :]
Y[1] = 10 
print("X:", X)

X: [[ 1 10]
 [ 3  4]]

In [ ]:
# == CÓDIGO 7 ==#
X = np.array([[1, 3], [11, 10]])
print(np.mean(X[X > np.pi]))

10.5

In [ ]:
# == CÓDIGO 8 ==#
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a','b','c','d','e','f','g','h','i','j']

pd.DataFrame(data=data, index=labels)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
# == CÓDIGO 9 == #
df = pd.DataFrame(data=data, index=labels)
df.shape

(10, 4)

In [ ]:
# == CÓDIGO 10 == #
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])